version: '3.8'

services:
  backend:
    build: ./backend
    container_name: quiz-backend
    ports: 
     - "5000:5000"
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - PORT=5000
    volumes: 
      - ./backend:/app
      - /app/node_modules
    command: npm run dev

  frontend: 
    build: ./frontend
    container_name: quiz-frontend
    ports:
      - "80:80"
    depends_on:
      - backend